<div class="container" id="home-container">
   <div class="jumbotron text-center text-white">
      <h1 class="display-4 font-weight-bold" id="logo1">ALPHA BLOG</h1>
      <p class="lead" >This is a simple application, that allows the users to create some blog related to different categories and experiences.</p>
      <hr class="my-4">
      <p class="font-weight-normal " >“Where the Internet is about availability of information, blogging is about making information creation available to anyone.”</p>
      <%= link_to "Sign Up!", new_blogger_registration_path, class:"btn btn-success btn-lg" %>
   </div>
</div>



